@tailwind base;
@tailwind components;
@tailwind utilities;



#nav::after{
    background-color: black;
    content: '';
    display: block;
    border-bottom: 3px;
    width: 0%;
    height: 2px;
    background-color: rgb(194 65 12);
    transition: width .3;
}

#nav:hover::after{
    width: 100%;
    transition: width .3s;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

